.addBill{
  width:100%;
  background-image: linear-gradient(to right ,#f5f5f5,#f1f1f1,#f5f5f5,#f1f1f1,#f5f5f5);
}

.addBl{
  background-color:#f5f5f5;
  padding:10px 40px;
  margin-top:30px;
  margin-bottom:40px;
}

.addBl img{
  width:150px;

}

.addBl label{
  font-size:18px;
}

.addBl .title{
  font-size:18px;
}
