<app-header></app-header>
<router-outlet></router-outlet>
<div class="card-header bg-danger">
  <div class="row">
    <div class="col-md-2 "></div>
    <div class="col-md-2 mx-5 mt-3 ">
     <a routerLink="/about"> <div class="card text-center"> <div class="font-weight-bold text-decoration-none mt-4">About Us</div> </div></a>
    </div>
    <div class="col-md-2 "></div>
    <div class="col-md-2 mx-5 mt-3">
      <a routerLink="/contact"> <div class="card text-center"> <div class="font-weight-bold text-decoration-none mt-4 ">Contact Us</div></div></a>
    </div>
  </div>
</div>
<app-footer></app-footer>
