 <!-- contact form starts -->
      <div class="container mt-5 px-5">
        <h2 class="text-center">Contact Us</h2>
        <div class="row">
          <div class="col-md-8 mb-sm-5">
            <form [formGroup]="contactForm" (ngSubmit)="onInit()">
              <input class="form-control"  placeholder="Name"/><br />
              <input class="form-control"  placeholder="Phone No" /><br />
              <input class="form-control"  placeholder="Email" /><br />
              <textarea class="form-control"
                        placeholder="How can we help you?" style="height: 150px;"></textarea>
              <br /> <input class="btn btn-primary" type="submit"
                            value="send" /><br /> <br />
            </form>
          </div>
          <div class="col-md-4 pl-lg-5 ">
            <strong>Website:</strong><br />
            <a href="http://www.gharbhaada.np" target="_blank">www.gharbhaada.edu.np</a>
          </div>
        </div>
      </div>
      <!-- end of contact form -->

