<p>usedlater works!</p>
/*
<div class="form-group">
  <label >Status (*)</label>
  <select class="form-control" formControlName="status" [ngClass]="{'is-invalid': addRoomForm.get('status').touched && addRoomForm.get('status').invalid}">
    <option value="">Choose room status</option>
    <option value="owner">Vacant</option>
    <option value="client">Full</option>
  </select>
  <div class="invalid-feedback">
    <div>Status is required</div>
  </div>
</div>
<div class="form-group">
  <label >Upload Pic (*)</label>
  <div class="img bg-warning w-25">
    <img src="" alt="" height="" width="">
  </div>
</div>




*/
