
<div class="container my-5">
  <button type="button" class="btn btn-outline-primary">Bill List</button>
  <button type="button" class="btn btn-outline-primary">Generate Bills</button>
  <button type="button" class="btn btn-outline-primary">Draft Bill List</button>

  <hr/>
  <div class="card text-center ">
    <div class="card-header">
      List of Paid Bills
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From (Date)</th>
        <th scope="col">To (Date)</th>
        <th scope="col">Room Rent Amount</th>
        <th scope="col">Water Amount</th>
        <th scope="col">Electricity Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>2000 </td>
        <td>100 </td>
        <td>200 </td>
        <td>2300 </td>
        <td>Paid</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Jacob</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>


    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>

