<div class="container">
  <div class="row mt-5">
    <div class="col-md-5">
      <h1 class="text-danger m-5">Welcome to our website...</h1>
    </div>
    <div class="col-md-7">
      <app-slider-room></app-slider-room>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <h1 class="mt-lg-5 mx-5">Ghar Bhaada</h1>
      <div class="text-center">"Your requirements <br/>Our responsibility"</div>
      <div class="mt-2 mx-5 mb-5">Ghar Bhaada web application lets you to find rental property you desire. You can save your precious time and valuable money using this website to search rooms , houses , flats and apartments for rent. </div>
    </div>
    <div class="col-md-7">
      <app-slider-house></app-slider-house>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <div><h3 class="m-5">Ghar Bhaada is a complete platform for communication between House Owner and Client</h3></div>
    </div>
    <div class="col-md-7">
      <app-slider-flat></app-slider-flat>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-5">
      <h4 class="card m-5 text-center text-info">It's free, We don't take any charges.</h4>
      <button type="button" class="btn btn-outline-success btn-lg btn-block mb-5" (click)="login()">Get Started</button>

    </div>
    <div class="col-md-7">
      <app-slider-apartment></app-slider-apartment>
    </div>
  </div>
</div>
