.addClient{
  width:100%;
  background-image: linear-gradient(to right ,#f5f5f5,#f1f1f1,#f5f5f5,#f1f1f1,#f5f5f5);
}

.addCt{
  background-color:#f5f5f5;
  padding:10px 40px;
  margin-top:30px;
  margin-bottom:40px;
}

.addCt img{
  width:150px;

}

.addCt label{
  font-size:18px;
}

.addCt .title{
  font-size:18px;
}
