<div class="container bg-light addClient">
  <div class="row my-1">
    <div class="col-md-3 col-sm-12 "></div>
    <div class="col-md-6 col-sm-12 addCt ">

      <form [formGroup]="addClientForm" (ngSubmit)="addClientForm.valid && onSubmit()">
        <div class="card-header text-center text-info font-weight-bold m-3 mb-4 title ">Add Client</div>
        <div class="form-group">
          <label >Room Id (*)</label>
          <input type="text" class="form-control font-weight-lighter " formControlName="roomId" placeholder="Enter room id to identify unique room" [ngClass]="{'is-invalid': addClientForm.get('roomId').touched && addClientForm.get('roomId').invalid}"/>
          <div *ngIf="addClientForm.get('roomId').touched && addClientForm.get('roomId').invalid" class="invalid-feedback">
            <div *ngIf="addClientForm.get('floor').errors.required">Room Id is required</div>
            <div *ngIf="addClientForm.get('floor').errors.maxlength">Room Id must be less than 10 characters</div>
          </div>
        </div>
        <div class="form-group ">
          <label >Client Name (*) </label>
          <input type="text" class="form-control font-weight-lighter" formControlName="clientName" placeholder="Enter client name of that room" [ngClass]="{'is-invalid': addClientForm.get('clientName').touched && addClientForm.get('clientName').invalid}"  />
          <div *ngIf="addClientForm.get('clientName').touched && addClientForm.get('location').invalid" class="invalid-feedback">
            <div *ngIf="addClientForm.get('clientName').errors.required">Client Name is required</div>
            <div *ngIf="addClientForm.get('clientName').errors.minlength">Client Name must at least 2 characters </div>
            <div *ngIf="addClientForm.get('clientName').errors.maxlength">Client Name must less than 20 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label >Settled Date (*) </label>
          <input type="text" class="form-control font-weight-lighter" formControlName="date" placeholder="Enter room occupied date" [ngClass]="{'is-invalid': addClientForm.get('date').touched && addClientForm.get('price').date}"  />
          <div *ngIf="addRoomForm.get('price').touched && addRoomForm.get('contactNo').invalid" class="invalid-feedback">
            <div *ngIf="addRoomForm.get('date').errors.required">Settled date is required</div>
          </div>
        </div>

        <button type="submit" class="btn btn-info btn-block shadow mt-2 " [disabled]="!addClientForm.valid" >Post</button>
      </form>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
</div>
